@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
	background: linear-gradient(-45deg,#569282, #6b9fb7, #9a88bd, #88bd9f, #a4bd88);
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background-size: 400% 400%; 
	animation: gradient 17s ease infinite;
	height: 100vh;
	margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page {
	max-width: auto;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
.content {
	border: 2px dashed rgb(111, 111, 111);
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5% 0;
	overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.names {
	width: 400px;
	text-align: center;
}
.projects {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.square1 {
	width: 350px;
	height: 360px;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px dashed rgb(111, 111, 111);
}

.pic1 {
	width: 90%;
}

.pic1 img{
	width: 100%;
}

button {
	padding: 15px 32px;
	text-decoration: none;
	transition-duration: 0.9s;
	border-radius: 10px;
	background-color: black;
	border: none;
	text-align: center;
	color: white;
	font-weight: 200;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
}
button:hover{
	background: linear-gradient(-45deg,#bed6a1, #71adc9, #937dc0, #6b9b8e );
	background-size: 400% 400%; 
	animation: gradient 17s ease infinite;
	/* color: rgb(48, 48, 48); */
}


























/* 
body {
	background: linear-gradient(98deg, #243d66, #4d4c58, #71968f, #639b6f, #9ba566);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
} */
/* 
body {
    background: linear-gradient(224deg, #569282, #6b9fb7, #9a88bd, #88bd9f, #a4bd88);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:61% 0%}
    50%{background-position:40% 100%}
    100%{background-position:61% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:61% 0%}
    50%{background-position:40% 100%}
    100%{background-position:61% 0%}
}
@keyframes AnimationName {
    0%{background-position:61% 0%}
    50%{background-position:40% 100%}
    100%{background-position:61% 0%}
} */

/* body {
    background: linear-gradient(224deg, #569282, #6b9fb7, #9a88bd, #88bd9f, #a4bd88);
    background-size: 1000% 1000%;

    animation: AnimationName 11s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:61% 0%}
    50%{background-position:40% 100%}
    100%{background-position:61% 0%}
} */